
<nav class="navbar navbar-dark bg-dark" *ngIf="auth.isLoggedIn()">

  <div class="container-fluid">
    
      <div class="navbar-header">
        <app-authorised-side-nav-toggler></app-authorised-side-nav-toggler>
      </div>
      <a>
        <h4>Welcome to Black and White Status Reporting</h4>
      </a>
      <div class="item right menu">
        <form (ngSubmit)="searchTask()">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." name="txtsearch" onsubmit="searchTask()"
              [(ngModel)]="description">
            <i class="search link icon"></i>

          </div>
        </form>
      </div>
      <div class="item right">
        
         
       
        <div class="ui menu  simple scrolling">
          
          <div class="ui simple dropdown item borderless">
            <a >
  <i class="ui avatar user icon black large" *ngIf="credentials.Avatar.length==0"></i>
              <img class="ui avatar image" [src]="credentials.Avatar" name="avatar" *ngIf="credentials.Avatar.length>0">
            </a>
            <a>Signed in as {{auth.getUserDetails()?.username}}</a>
            <i class="dropdown icon"></i>
            <div class="menu ">
              <div class="item"><i class="user outline icon"></i><a routerLink="/profile"> Edit Profile </a></div>
              <div class="item"><i class="power off icon"></i><a routerLink="" (click)="auth.logout()">Signout</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

</nav>
